{% extends "base.html" %}

{% block content %}
<h1>Sebastian Pawluś</h1>

<p>
	A developer, Linux supporter and Emacs user.
	Constantly trying to learn Haskell and waiting for Linux's year to come.
	Works closely to a black screen of the Linux terminal.
	Sometimes responsible for contributing to 'the greater good'.
	Currently working for London based startup
	<a href="https://www.serverdensity.com/">ServerDensity</a>.
</p>

<p>
	An here is the picture with a perspective, just in case if you need one ...
</p>

<div style="height: 300px; overflow: hidden; position: relative;">
	<img style="position: absolute; top: -60%" src="http://photopin.com/phpflickr/getphoto.php?size=original&id=2037304627&url=http%3A%2F%2Ffarm3.staticflickr.com%2F2395%2F2037304627_80d98da87f_o.jpg"/>
</div>

photo credit: <a href="http://www.flickr.com/photos/stuckincustoms/2645280154/">Stuck in Customs</a>
via <a href="http://photopin.com">photopin</a>
<a href="http://creativecommons.org/licenses/by-nc-sa/2.0/">cc</a>

{% endblock %}
