{% extends "base.html" %}

{% block content %}
  <h1>Sebastian Pawluś</h1>

  <p>
    A developer, Linux supporter and Emacs user.
    Constantly trying to learn Haskell and waiting for Linux's year to come.
    Works closely to a black screen of the Linux terminal.
    Sometimes responsible for contributing to 'the greater good'.

    I usually can be found on my sofa in Kraków, Poland, writing things for various projects.
  </p>

  <p>
    Let me know how I can help you: <a href="sebastian.pawlus@gmail.com">sebastian.pawlus@gmail.com</a>
  </p>

{% endblock %}
