{% extends "base.html" %}

{% block content %}
<h1>Sebastian Pawluś</h1>

<hr/>

<dl class="dl-horizontal">
  <dt>phone</dt>
  <dd>0048 695731917</dd>

  <dt>email</dt>
  <dd><a class="email" href="mailto:sebastian.pawlus@gmail.com">sebastian.pawlus@gmail.com</a></dd>

  <dt>github:</dt>
  <dd><a target="_blank" href="https://github.com/xando">xando</a></dd>

  <dt>location</dt>
  <dd>Kraków, Poland</dd>
</dl>

<hr/>

<h2>
  <a href="https://www.serverdensity.com">Server Density</a>
  <span>Software Engineer, current</span>
</h2>
<ul>
  <li>
    Member of a product engineering team.
  </li>
  <li>
    Responsible for the
    <a href="https://www.serverdensity.com/website-monitoring/">Service Monitoring</a> platform.
  </li>
</ul>
<ul class="print-only">
  <li><b>Company website:</b> https://www.serverdensity.com</li>
  <li><b>Company blog:</b> http://blog.serverdensity.com</li>
</ul>

<h1>
  <a href="http://www.potatolondon.co.uk">Potato London</a>
  (<a href="http://www.google.com/culturalinstitute/">Google Vendor</a>)
  <span>Software Engineer, 2012 (1 year)</span>
</h1>
<ul>
  <li>
    Contracted work, part of
    <a href="http://googleartproject.com">Google Art Project</a> Software Engineering team.
  </li>
  <li>
    Responsible for implementation of high-scale applications with use of
    <a href="https://developers.google.com/appengine/">Google AppEngine</a> platform.
  </li>
</ul>
<ul class="print-only">
  <li><b>Company website:</b> http://potatolondon.co.uk</li>
  <li><b>Project website:</b> http://googleartproject.com</li>
</ul>

<h1>
  <a href="http://www.binop.com">Binop Consulting Group</a>
  (<a href="http://www.nokia.com">Nokia Vendor</a>)
  <span>Software Engineer, 2008-2011 (3 years)</span>
</h1>
<ul>
  <li>Contracted work, part of
    Nokia Meego QA infrastructure tools.
  </li>
  <li>Responsible for a development of Nokia
    internal infrastructure webtools to software production process.
  </li>
</ul>
<ul class="print-only">
  <li><b>Company website: </b>http://binop.com</li>
</ul>

<h1>
  <a href="http://www.u2i.com">Union Square Internet Development
  </a><span>Software Engineer, 2007-2008 (14 months)</span>
</h1>
<ul>
  <li>Working on the Freshpair e-commerce solution
    (biggest online underwear shop).
  </li>
  <li>Responsible for a backend development of
    <a href="http://freshpair.com">freshpair.com</a> online shop.</li>
</ul>
<ul class="print-only">
  <li><b>Company website:</b> http://u2i.com</li>
  <li><b>Project website:</b> http://freshpair.com</li>
</ul>


{% endblock %}
